@mixin flexc($direction: row) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
}

@mixin flexcc($direction: row) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
}

.product:not(:first-of-type) {
  margin-top: 1rem;
}

.product {
  @include flexc();

  .productDetails {
    @include flexc();
    flex: 1;
    padding: 1.2rem;
    background: white;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 5px;

    .imageContainer {
      @include flexcc();
      height: 4rem;
      width: 4rem;
      overflow: hidden;

      img {
        height: inherit;
        width: inherit;
        object-fit: contain;
        border-radius: 5px;
      }
    }

    .title {
      margin: 0 1rem;
      flex: 1;
    }

    .right {
      @include flexc();
      margin-left: 1rem;

      &>* {
        margin-left: 1rem;
      }

      .mrp {
        text-decoration: line-through;
        color: gray;
      }

      .mrp, .sellprice {
        width: 4.5rem;
      }
    }
  }
  
  .am-button {
    @include flexcc();
    margin: 0 0 0 1.5rem;
    height: 2.5rem;
    width: 6rem;
    border-radius: 5px;
  }
}

.editContainer {
  
  background: white;
  padding: 1rem;
  margin-top: 1rem;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 5px;
}

.editContainer.hidden {
  display: none;
}

.editContainer.visible {
  display: flex;
  align-items: center;
}
